#pane2{
    -fx-background-image: url("Guess_Who_Background.png");
    -fx-background-size: 553 520;
}

#pane{
    -fx-background-color: transparent;
    -fx-background-color: none;
    -fx-background-color: transparent !important;
    -fx-background-color: rgba

}

#round-red{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
}

#round-yellow{
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
}

#round-green{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
}

#round-blue{
    -fx-background-color:
        linear-gradient(#00bfff, #87ceeb),
        radial-gradient(center 50% -40%, radius 200%, #00bfff 45%, #87ceeb 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
}

#round-purple{
    -fx-background-color:
        linear-gradient(#42275a, #734b6d),
        radial-gradient(center 50% -40%, radius 200%, #42275a 45%, #734b6d 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
}

#monospace{
    -fx-font-family: "monospace";
}



#tradeMarkLabel{
    -fx-background-color: #EEEEEE;
        -fx-font-size: 10px;
         -fx-border-width: 2px 2px 2px 2px;
         -fx-border-radius: 20px;
         -fx-background-radius: 20px;
         -fx-border-style: solid;
}

#congratsMessage{
   -fx-background-color: #F9F7F5;
       -fx-font-size: 20px;
       -fx-font-weight: bold;
        -fx-border-width: 2px 2px 2px 2px;
        -fx-border-radius: 20px;
        -fx-background-radius: 20px;
        -fx-border-style: solid;
}

#backgroundBlack{
    -fx-background-image: url("black.png");
     -fx-background-size: 750 464;

}

#imageView{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#label-white{
    -fx-text-fill: white;
}

#smallTitle{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#fontLabel{
    -fx-font-size: 15px;
}